motobilans-openai-clean.json
{
  "meta": {
    "instanceId": "n8n-instance"
  },
  "nodes": [
    {
      "id": "WebhookInput",
      "name": "Webhook motobilans",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "motobilans",
        "responseMode": "lastNode",
        "httpMethod": "POST"
      }
    },
    {
      "id": "SetMessage",
      "name": "Zbuduj wiadomo\u015b\u0107",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "`Model: ${$json.model}, Silnik: ${$json.silnik}, Styl jazdy: ${$json.styl}, Przebieg: ${$json.przebieg} km`",
              "rawValue": true
            }
          ]
        }
      }
    },
    {
      "id": "MessageAI",
      "name": "AI - Message Assistant",
      "type": "n8n-nodes-base.openAiAssistantMessage",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "parameters": {
        "assistantId": "asst_REPLACE_ME",
        "threadId": ""
      },
      "credentials": {
        "openAIAssistantToken": {
          "id": "openai-token",
          "name": "My OpenAI Token"
        }
      }
    },
    {
      "id": "ExtractResult",
      "name": "Wyci\u0105gnij wynik",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "language": "javascript",
        "code": "const steps = $json.run?.steps;\nconst content = steps?.[0]?.step_details?.message?.content;\n\nreturn [\n  {\n    json: {\n      wynik: content || \"Brak odpowiedzi od AI\"\n    }\n  }\n];"
      }
    },
    {
      "id": "RespondWebhook",
      "name": "Zwr\u00f3\u0107 do HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "responseData": "lastNode",
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Webhook motobilans": {
      "main": [
        [
          {
            "node": "Zbuduj wiadomo\u015b\u0107",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zbuduj wiadomo\u015b\u0107": {
      "main": [
        [
          {
            "node": "AI - Message Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Message Assistant": {
      "main": [
        [
          {
            "node": "Wyci\u0105gnij wynik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wyci\u0105gnij wynik": {
      "main": [
        [
          {
            "node": "Zwr\u00f3\u0107 do HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "name": "motobilans-clean-openai",
  "tags": [],
  "versionId": "1"
}